.headerContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}



.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: auto;
}

.logo {
    font-family: 'Explora', cursive;
    font-size: 10vh;
    color: white;
}

.buttonDiv{
    display: flex;
    width: 50vw;
    height: auto;
    justify-content: space-evenly;
}

.buttonText{
    font-family: 'Inconsolata', monospace;
    font-size: 2vh;
    font-weight: bolder;
    text-decoration: none;
    color: grey;
}

.buttonText:hover{
    color: white;
}

.customNav{
    background-color: #0E0C0C;
    height: 20vh;
    width: 100%;
}

