.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.logo {
    font-family: 'Explora', cursive;
    font-size: 96px;
    color: white;
}

.buttonDiv{
    display: flex;
    width: 50%;
    height: auto;
}

.buttonText{
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    margin: 0 45% 0 45%;
    font-weight: bolder;
    text-decoration: none;
    color: grey;
}

.buttonText:hover{
    color: white;
}

.customNav{
    background-color: #0E0C0C;
    height: 20%;
    width: 100%;
}

