

.homeContent{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    color: white;
    font-family: 'Inconsolata', monospace;
}

.profilePic{
    border-radius: 50%;
    grid-column: 1/-1;
    justify-self: center;
}

.writtenContent{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    justify-self: center;
}

.paragraphContainer{
    display: flex;
    width: 35vw;
    flex-wrap: wrap;
    overflow: auto;
}


.paragraphs{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

@media only screen and (max-width: 600px){
    .paragraphContainer{
        width: 100%;
        margin-left: 1vw;
        margin-right: 1vh;
    }
}
